<html>
  
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('./dashpartials/nav.ejs') %>
        <div class="container">
            <div class="mt-5">
                <form action="" class="p-4">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <label for="inputEmail4" class="form-label lead">Title</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Church service.....">
                        </div>
                        
                        <div class="col-md-2"></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                               
                                <textarea class="form-control display-6" height="100px" style="outline: none; border: none"> 
                                Note   
                                </textarea>
                            </div>
                            
                            <div class="col-md-2"></div>
                            </div>

                </form>
                    
                    
                    </div>
        </div>
       
    </body>
</html>