<html>
  
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('./dashpartials/nav.ejs') %>
        <div class="container">
            <div class="mt-5">
                <form method="POST" action="/">
                    <div class="mb-3">
                      <label for="title" class="form-label">Title </label>
                      <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp" required>
                   
                    </div>
                    <div class="mb-3 form-outline">
                        <label class="form-label" for="textAreaExample2">Note</label>

                        <textarea class="form-control" name="body" id="textAreaExample2" rows="8" required></textarea>
                      </div>
                   
                    <button type="submit" class="btn btn-success">Submit</button>
                  </form>
                    
                    
                    </div>
        </div>
        <%- include('./dashpartials/footer.ejs') %>
      
    </body>
</html>