<nav class="dash-navbar sticky-top navbar">
    <div class="container text-white">
      <a class="navbar-brand display-4 fw-bold text-white float-left" href="/">Notr.</a>
      <div class="float-right">
        <a class="btn btn-md btn-outline-dark text-white" href="/new"> Add new </a> &nbsp;
        <a href="" class="text-white fw-bold" style="text-decoration: none;"> logout &nbsp;<i class="fa fa-arrow-right"></i> </a>
        
      </div>

    </div>
  </nav>